/* CSS Document */

$rbc_red: #EF7625;

$part-no-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$title-font-family: 'Source Sans Pro', sans-serif;

/* Status Colors */
$light_green: #F8FFF0;
$dark_green: #BBEE77;
$light_yellow: #fffce5;
$dark_yellow: #EEDD55;
$light_red: #fef5f1;
$dark_red: #ed541d;

$redback_red: #FF0000;