@import _globals.scss;

/* Part Tables */
tr.part_table_tr {
    cursor:pointer;
    td:first-child {
        padding:0px;
        font-size:0px;
        width:60px;
        a {
            line-height:0px;
            font-size:0px;
            display:block;
            width:60px;
            height:60px;
            position:relative;
            img {
                position:absolute;
                top:38px;
                left:38px;
            }
            img:first-child {
                top:0px;
                left:0px;
            }
        }
    }
    span.title-part_id {
        padding-top:10px;
    }
    span.part-status {
        float:right;
        margin-top:34px;
        span {
            margin:0 3px;
            &.reserved {
                color:#568811;
            }
        }
    }
    &:hover {
        &.odd, &.odd td.active {
            background-color: lighten(#e4e4e4, 3%);
        }
        &.even, &.even td.active {
            background-color: lighten(#efefef, 2%);
        }
    }
    &.odd td.active {
        background-color: #e4e4e4;
    }
    &.even td.active {
        background-color: #efefef;
    }
    &.selected td.active, &.selected:hover td.active {
        background-color: #FFC;
    }
}
td.part-icon {
    position: relative;
    padding: 0;
    width: 60px;
    a {
        padding: 0;
        display: block;
        width: 60px;
        height: 60px;
        img {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}
#rightClickContainer {
    position:relative;
    #vmenu{
        border:1px solid #aaa;
        position:absolute;
        background:#fff;
        display:none;
        font-size:0.75em;

        .element {
            width:130px;
            display:block;
            padding:5px 10px;
            cursor:pointer;
            &:hover {
                background-color:#FAFAFA;
            }
        }
        .sep {
            border-top: 1px ridge #aaa;
        }
    }
}

/* Content Edit Tabs */
#action-buttons {
    width:100%;
    text-align:right;
    height:35px;
    display:block;
    float:right;
    ul {
        border-bottom:none;
        margin: 0;
        padding: 0;
        list-style:none;
        li {
            display:inline-block;
            margin-right:10px;
            a, span {
                border: 1px solid #AAAAAA;
                border-color: #AAAAAA; /* To override default system value */
                color: #999999;
                padding: 6px 10px;
                background: #fff;
                cursor:pointer;
                &:hover, &.active, &.active:hover {
                    background: darken(#FFF, 5%);
                    color: #888888;
                    text-decoration:none;
                }
                &.disabled {
                    border-color: #DDDDDD;
                    color: #CCCCCC;
                    cursor: default;
                    &:hover, &.active, &.active:hover {
                        background: inherit;
                        color: #CCCCCC;
                    }
                }
                &.out-of-date {
                    background-color: $light_yellow;
                    border-color: $dark_yellow;
                    color: #BAAB34;
                    &:hover, &.active, &.active:hover {
                        background: #FFF8C2;
                    }
                }
                &.green {
                    background-color: $light_green;
                    border-color: $dark_green;
                    color: darken($dark_green, 40%);
                    &:hover, &.active, &.active:hover {
                        background: darken($light_green, 5%);
                    }
                }
            }
        }
        li:last-child, li:last-child {
            margin-right:0 !important;
        }
    }
}

body.page-computers h1#page-title {
    margin-top:0;
}

#highlighted {
    font-size:inherit;
    border-bottom: none;
    display:block;
    height:auto;
    .content {
        height:auto;
    }
}

#block-rbc-rbc-action-buttons {
    height: 35px;
}

/* Part Page */
$part-image-width = 230px;
$page-width = 690px;

#part-image {
    display:block;
    float:left;
    padding: 0 10px 10px 0;
}

#part-info {
    h1 {
        float:left;
        display:block;
        width: $page-width - $part-image-width;
        margin:0 0 0 0;
        &#part_id {
            font-family: $part-no-font-family;
            font-size:1.5em;
            #version {
                color:#CCC;
                font-size:70%;
            }
            #status {
                font-size:70%;
                font-family: $part-no-font-family;
                &.draft {color:#00C;}
                &.removed , &.superseded {color:#F00}
            }
        }
    }
    p {
        float:left;
    }
    &.commit-preview {
        border: solid 1px green;
    }
}
#relation-info {
    display:block;
}
.version-table {
    padding:1px;
    .morelink {
        display: block;
        width: 100%;
        height: 10px;
        line-height: 0;
        font-size: 20px;
        text-align: center;
        color: #999;
        &:hover {
            text-decoration: none;
            color: #666;
        }
    }
}

#reservation-notice {
    float:left;
    span {
        padding:10px;
        display:block;
        background-color: $light_yellow;
        border: 1px solid $dark_yellow;
        margin-bottom:10px;
    }
}

.pointer:hover {
    cursor:pointer;
}


/* My Computers Block */
#rbcVersionCheck {
    padding:5px;
}

#plugin-update-container {
    margin-bottom:16px;
    a.clear {
        text-decoration:none;
        color:inherit;
    }
    .progress {
        font-weight:normal;
        .bar {
            text-align:center;
            width:100%;
            cursor:pointer;
            position:relative;
            overflow:hidden;
            .text {
                position:absolute;
                display:block;
                top:0px;
                left:0px;
                width:100%;
                text-align:center;
            }
        }
        span.error {
            color:red;
        }
    }
    .title {
        font-weight:bold;
        color:inherit;
        padding-left:20px;
        &.ok {background:url('/misc/message-16-ok.png') no-repeat;}
        &.warning {background:url('/misc/message-16-warning.png') no-repeat;}
    }
}
ul#switch-computer-links, ul#switch-year-links {
    list-style:none;
    margin: 0;
    padding: 0;
    display:none;
    &.visible {display:inherit}
    a {
        color:#3B3B3B;
        text-decoration:none;
        &:hover {
            text-decoration:none;
        }
        li {
            padding:8px;
            border-bottom:solid 1px #ccc;
            width:152px;
            height:20px;
            display:block;
            cursor:pointer;
        }
        &:last-child li {
            border-bottom:none;
        }
    }
}
#computer-edit-links {
    margin-bottom:-12px;
    border-top:solid 1px #ccc;
    padding-top:5px;
    a {
        display:inline-block;
        height:24px;
        width:55px;
        border-right:solid 1px #ccc;
        cursor:pointer;
        background-position:15px 0px;
        background-repeat:no-repeat;
        &:last-child {
            border-right:none;
        }
        &:hover {background-position:15px -24px;}
        &.disabled {
            background-position:15px -48px;
            cursor:default;
        }
        &#computer-add {background-image:url('../images/computer-add.png');}
        &#computer-switch {background-image:url('../images/computer-switch.png');}
        &#computer-settings {background-image:url('../images/computer-settings');}
    }
}
#switch-year-links {
    margin-top:5px !important;
    border-top:solid 1px #ccc;
}
.sidebar #block-rbc-rbc-year-switcher .content {
    margin-top:0px;
}
#year-switch {
    display: block;
    height: 24px;
    a {
        display:block;
        float:right;
        border-left:solid 1px #ccc;
        height:24px;
        width:55px;
        cursor:pointer;
        background-position:15px 0px;
        background-repeat:no-repeat;
        &:hover {background-position:15px -24px;}
        &.disabled {
            background-position:15px -48px;
            cursor:default;
        }
        background-image:url('../images/computer-switch.png');
    }
}

/* Manage Parts Block */
ul#manage-parts, ul#reserved-parts {
    list-style:none;
    margin: 0;
    padding: 0;
    li {
        padding:8px;
        border-bottom:solid 1px #ccc;
        width:152px;
        height:20px;
        display:block;
        cursor:pointer;
    }
    a {
        color:#3B3B3B;
        text-decoration:none;
        &:hover {
            text-decoration:none;
        }
        li {
            border-bottom-color: #ccc;
        }
    }
    .unreserve-x {
        display:block;
        height:20px;
        width:20px;
        background:url('../images/x.png');
        float:right;
        &:hover {
            background-position:bottom;
        }
    }
}

/* Computer Update Page */
div#update-year-settings, div#update-path-settings {
    display:none;
}

/* Commit */
.commit-partbox {
    display:block;
    margin:16px auto;
    padding:10px;
    background:#f0f0f0;
    border:solid 2px #ccc;
    height:50px;
    line-height:50px;
    width:280px;
    text-align:center;
    font-size:32px;
}

/* Logged Out */
body.not-logged-in {
    #main-menu {
        display:none;
    }
}

/* Download Plugin */
#plugin-download-button {
    -moz-box-shadow:inset 0px 1px 2px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 2px 0px #ffffff;
    box-shadow:inset 0px 1px 2px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:24px;
    -webkit-border-radius:24px;
    border-radius:24px;
    border:1px solid #dcdcdc;
    display:inline-block;
    padding:16px 50px;
    &:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
        background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
        background-color:#dfdfdf;
        text-decoration:none;
    }
    div {
        background:url('../images/plugin-logo.png') left center no-repeat;
        color:#181818;
        font-family:arial;
        font-size:28px;
        font-weight:bold;
        padding-left:92px;
        text-decoration:none;
        text-shadow:1px 1px 3px #ffffff;
        line-height:88px;
        height:88px;
    }
}
#setup-check {
    #check-plugin {
        #throbber {
            background: url('/misc/throbber.gif') no-repeat 0px 2px;
            display:inline-block;
            height: 15px;
            margin: 0px -7px -2px 7px;
            width: 15px;
            &.active {
                background-position:0px -18px;
            }
        }
    }
}
#setup-plugin {
    display:none;
}

/* This imageless css button was generated by CSSButtonGenerator.com */


.table-filters {
    display:block;
    width:100%;
    height:20px;
    font-size:85%;
    text-align:right;
    float:left;
}

.part_table_container {
    float:left;
    width:100%;
    .sticky-header {
        z-index:10;
    }
}

#cat-tile-container {
    margin:0 -5px 20px;
    display:block;
    width:700px;
    float:left;
}
.cat-tile-block {
    display:inline-block;
    position:relative;
    float:left;
    margin:5px;
    width:130px;
    height:130px;
    background-color:#EFEFEF;
    color:black;
    text-decoration:none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    .images {
        position:absolute;
        top:0;
        left:0;
        line-height:0px;
        font-size:0px;
        padding:0;
        margin:0;
    }
    .title {
        position:absolute;
        bottom:0px;
        right:0px;
        width:120px;
        padding:0 5px;
        font-size:16px;
        line-height:26px;
        font-weight:bold;
        text-align:right;
        margin-top:80px;
        background:rgba(255,255,255,0.6);
    }
}

.close-box {
    border: solid 1px #CCC;
    display: block;
    float: left;
    width: 14px;
    height: 14px;
    line-height:12px;
    text-align: center;
    color: #CCC;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    cursor: pointer;
    &:hover {
        background: #555;
    }
}

/* ----------- BREAD CRUMB --------------- */
$base = #aaa;
$topbottom = 15px;
.breadcrumb { 
    list-style: none; 
    overflow: hidden; 
    li {
        float: left; 
        a {
            color: white;
            text-decoration: none; 
            padding: 5px 10px 5px 20px;
            background: $base;
            position: relative; 
            display: block;
            float: left;
            &:after { 
                content: " "; 
                display: block; 
                width: 0; 
                height: 0;
                border-top: $topbottom solid transparent;           /* Go big on the size, and let overflow hide */
                border-bottom: $topbottom solid transparent;
                border-left: 10px solid $base;
                position: absolute;
                top: 50%;
                margin-top: -$topbottom; 
                left: 100%;
                z-index: 2; 
            }	
            &:before { 
                content: " "; 
                display: block; 
                width: 0; 
                height: 0;
                border-top: $topbottom solid transparent;           /* Go big on the size, and let overflow hide */
                border-bottom: $topbottom solid transparent;
                border-left: 10px solid white;
                position: absolute;
                top: 50%;
                margin-top: -$topbottom; 
                margin-left: 1px;
                left: 100%;
                z-index: 1; 
            }
        }
        &:first-child a {
            padding-left: 10px;
        }
        &:nth-child(2) a       { background:        lighten($base, 4%); }
        &:nth-child(2) a:after { border-left-color: lighten($base, 4%); }
        &:nth-child(3) a       { background:        lighten($base, 8%); }
        &:nth-child(3) a:after { border-left-color: lighten($base, 8%); }
        &:nth-child(4) a       { background:        lighten($base, 12%); }
        &:nth-child(4) a:after { border-left-color: lighten($base, 12%); }
        &:nth-child(5) a       { background:        lighten($base, 16%); }
        &:nth-child(5) a:after { border-left-color: lighten($base, 16%); }
        &:last-child a {
            background: white !important;
            color: black;
            pointer-events: none;
            cursor: default;
        }
        &:last-child a:after { border: 0; }
        a:hover { background: darken($base, 8%); }
        a:hover:after { border-left-color: darken($base, 8%) !important; }
    }
}

/* ----- Upload Block ------ */
#manual-list {
    width: 218px;
    float: left;
    #throbber {
        background: url('/misc/throbber.gif') no-repeat 0px 2px;
        display:inline-block;
        height: 15px;
        margin: 0px -7px -2px 7px;
        width: 15px;
        &.active {
            background-position:0px -18px;
        }
    }
}

#suggest-list {
    width: 466px;
    float: right;
}
#manual-list, #suggest-list {
    .uploadblock {cursor: pointer;}
    .uploadblock.disabled {cursor: default;}
}

.add-list {
    min-height: 78px;
    margin-left: -8px;
    max-height: 330px;
    overflow: auto;
}

#uploader-button {
    margin-left:10px;
}
.list-title {
    font-weight: bold;
    font-size: 110%;
    border-bottom:1px solid #ccc;
    width: 100%;
    display: block;
}

#commit-list {
    width: 684px;
    min-height:160px;
    border: dashed 3px #CCC;
    float: left;
    margin:10px 0;
}
#commit-message {
    float: left;
    width: 100%;
}

.uploadblock {
    width:208px;
    height:60px;
    background: #FFF;
    border: solid 1px #CCC;
    position: relative;
    float: left;
    margin:8px;
    overflow: hidden;
    .info {
        float: left;
        line-height: 18px;
        width: 140px;
        overflow: hidden;
    }
    .close-box {
        position: absolute;
        top: -1px;
        right: -1px;
        display: none;
    }
    .state-wrapper {
        position: absolute;
        width: 100%;
        bottom: -1px;
        left: -1px;
        .state {
            position: relative;
            width: 100%;
            text-align: centre;
            .text {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                text-align: center;
                color: #CCC;
            }
            .statebg {
                position: relative;
                border: 1px solid #CCC;
                height: 8px;
                width: 100%;
                background: #FFF;
                &:after, &:before {
                    bottom: 100%;
                    border: solid transparent;
                    content: "";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }
                &:after {
                    border-color: rgba(255, 255, 255, 0);
                    border-bottom-color: #FFF;
                    border-width: 0 105px 14px 105px;
                    left: 50%;
                    margin-left: -105px;
                }
                &:before {
                    border-color: rgba(204, 204, 204, 0);
                    border-bottom-color: #CCC;
                    border-width: 0 109px 15px 109px;
                    left: 50%;
                    margin-left: -109px;
                }
            }
            &.uploading {
                .text {
                    color: #FFF;
                }
                .statebg {
                    background: #4e96c3;
                    &:after {
                        border-color: rgba(78, 150, 195, 0);
                        border-bottom-color: #4e96c3;
                    }
                }
            }
            &.done {
                .text {
                    color: #FFF;
                }
                .statebg {
                    background: #009900;
                    &:after {
                        border-color: rgba(120, 10, 60, 0);
                        border-bottom-color: #009900;
                    }
                }
            }
            &.error {
                background-image: none;
                cursor: pointer;
                .text {
                    color: #FFF;
                }
                .statebg {
                    background: red;
                    &:after {
                        border-color: rgba(120, 10, 60, 0);
                        border-bottom-color: red;
                    }
                }
            }
        }
    }
}

#commit-list .uploadblock .close-box {display: block;}

#commit-message input.form-submit {
    outline: none;
    &.waiting, &.waiting:hover {
        background-position: 0 -40px;
    }
}