/*
 * CSS Document
 */
/*
 * Status Colors
 */
/*
 * Part Tables
 */
tr.part_table_tr {
  cursor: pointer; }
  tr.part_table_tr td:first-child {
    padding: 0px;
    font-size: 0px;
    width: 60px; }
    tr.part_table_tr td:first-child a {
      line-height: 0px;
      font-size: 0px;
      display: block;
      width: 60px;
      height: 60px;
      position: relative; }
      tr.part_table_tr td:first-child a img {
        position: absolute;
        top: 38px;
        left: 38px; }
      tr.part_table_tr td:first-child a img:first-child {
        top: 0px;
        left: 0px; }
  tr.part_table_tr span.title-part_id {
    padding-top: 10px; }
  tr.part_table_tr span.part-status {
    float: right;
    margin-top: 34px; }
    tr.part_table_tr span.part-status span {
      margin: 0 3px; }
      tr.part_table_tr span.part-status span.reserved {
        color: #568811; }
    tr.part_table_tr:hover.odd,
    tr.part_table_tr:hover.odd td.active {
      background-color: #ececec; }
    tr.part_table_tr:hover.even,
    tr.part_table_tr:hover.even td.active {
      background-color: #f4f4f4; }
  tr.part_table_tr.odd td.active {
    background-color: #e4e4e4; }
  tr.part_table_tr.even td.active {
    background-color: #efefef; }
  tr.part_table_tr.selected td.active,
  tr.part_table_tr.selected:hover td.active {
    background-color: #ffffcc; }

td.part-icon {
  position: relative;
  padding: 0;
  width: 60px; }
  td.part-icon a {
    padding: 0;
    display: block;
    width: 60px;
    height: 60px; }
    td.part-icon a img {
      position: absolute;
      bottom: 0;
      right: 0; }

#rightClickContainer {
  position: relative; }
  #rightClickContainer #vmenu {
    border: 1px solid #aaaaaa;
    position: absolute;
    background: white;
    display: none;
    font-size: 0.75em; }
    #rightClickContainer #vmenu .element {
      width: 130px;
      display: block;
      padding: 5px 10px;
      cursor: pointer; }
      #rightClickContainer #vmenu .element:hover {
        background-color: #fafafa; }
    #rightClickContainer #vmenu .sep {
      border-top: 1px ridge #aaaaaa; }

/*
 * Content Edit Tabs
 */
#action-buttons {
  width: 100%;
  text-align: right;
  height: 35px;
  display: block;
  float: right; }
  #action-buttons ul {
    border-bottom: none;
    margin: 0;
    padding: 0;
    list-style: none; }
    #action-buttons ul li {
      display: inline-block;
      margin-right: 10px; }
      #action-buttons ul li a,
      #action-buttons ul li span {
        border: 1px solid #aaaaaa;
        border-color: #aaaaaa;
                /*
         * To override default system value
         */
        color: #999999;
        padding: 6px 10px;
        background: white;
        cursor: pointer; }
        #action-buttons ul li a.active,
        #action-buttons ul li a.active:hover,
        #action-buttons ul li a:hover,
        #action-buttons ul li span.active,
        #action-buttons ul li span.active:hover,
        #action-buttons ul li span:hover {
          background: #f2f2f2;
          color: #888888;
          text-decoration: none; }
        #action-buttons ul li a.disabled,
        #action-buttons ul li span.disabled {
          border-color: #dddddd;
          color: #cccccc;
          cursor: default; }
          #action-buttons ul li a.disabled.active,
          #action-buttons ul li a.disabled.active:hover,
          #action-buttons ul li a.disabled:hover,
          #action-buttons ul li span.disabled.active,
          #action-buttons ul li span.disabled.active:hover,
          #action-buttons ul li span.disabled:hover {
            background: inherit;
            color: #cccccc; }
        #action-buttons ul li a.out-of-date,
        #action-buttons ul li span.out-of-date {
          background-color: #fffce5;
          border-color: #eedd55;
          color: #baab34; }
          #action-buttons ul li a.out-of-date.active,
          #action-buttons ul li a.out-of-date.active:hover,
          #action-buttons ul li a.out-of-date:hover,
          #action-buttons ul li span.out-of-date.active,
          #action-buttons ul li span.out-of-date.active:hover,
          #action-buttons ul li span.out-of-date:hover {
            background: #fff8c2; }
        #action-buttons ul li a.green,
        #action-buttons ul li span.green {
          background-color: #f8fff0;
          border-color: #bbee77;
          color: #568811; }
          #action-buttons ul li a.green.active,
          #action-buttons ul li a.green.active:hover,
          #action-buttons ul li a.green:hover,
          #action-buttons ul li span.green.active,
          #action-buttons ul li span.green.active:hover,
          #action-buttons ul li span.green:hover {
            background: #ecffd7; }
    #action-buttons ul li:last-child,
    #action-buttons ul li:last-child {
      margin-right: 0 !important; }


#highlighted {
  font-size: inherit;
  border-bottom: none;
  display: block;
  height: auto; }
  #highlighted .content {
    height: auto; }

#block-rbc-rbc-action-buttons {
  height: 35px; }

/*
 * Part Page
 */
#part-image {
  display: block;
  float: left;
  padding: 0 10px 10px 0; }

  #part-info h1 {
    float: left;
    display: block;
    width: 460px;
    margin: 0 0 0 0; }
    #part-info h1#part_id {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 1.5em; }
      #part-info h1#part_id #version {
        color: #cccccc;
        font-size: 70%; }
      #part-info h1#part_id #status {
        font-size: 70%;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
        #part-info h1#part_id #status.draft {
          color: #0000cc; }
        #part-info h1#part_id #status.removed,
        #part-info h1#part_id #status.superseded {
          color: red; }
  #part-info p {
    float: left; }
  #part-info.commit-preview {
    border: solid 1px green; }

#relation-info {
  display: block; }

.version-table {
  padding: 1px; }
  .version-table .morelink {
    display: block;
    width: 100%;
    height: 10px;
    line-height: 0;
    font-size: 20px;
    text-align: center;
    color: #999999; }
    .version-table .morelink:hover {
      text-decoration: none;
      color: #666666; }

#reservation-notice {
  float: left; }
  #reservation-notice span {
    padding: 10px;
    display: block;
    background-color: #fffce5;
    border: 1px solid #eedd55;
    margin-bottom: 10px; }

.pointer:hover {
  cursor: pointer; }

/*
 * My Computers Block
 */
#rbcVersionCheck {
  padding: 5px; }

#plugin-update-container {
  margin-bottom: 16px; }
  #plugin-update-container a.clear {
    text-decoration: none;
    color: inherit; }
  #plugin-update-container .progress {
    font-weight: normal; }
    #plugin-update-container .progress .bar {
      text-align: center;
      width: 100%;
      cursor: pointer;
      position: relative;
      overflow: hidden; }
      #plugin-update-container .progress .bar .text {
        position: absolute;
        display: block;
        top: 0px;
        left: 0px;
        width: 100%;
        text-align: center; }
    #plugin-update-container .progress span.error {
      color: red; }
  #plugin-update-container .title {
    font-weight: bold;
    color: inherit;
    padding-left: 20px; }
    #plugin-update-container .title.ok {
      background: url('/misc/message-16-ok.png') no-repeat; }
    #plugin-update-container .title.warning {
      background: url('/misc/message-16-warning.png') no-repeat; }

ul#switch-computer-links,
ul#switch-year-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none; }
  ul#switch-computer-links.visible,
  ul#switch-year-links.visible {
    display: inherit; }
  ul#switch-computer-links a,
  ul#switch-year-links a {
    color: #3b3b3b;
    text-decoration: none; }
    ul#switch-computer-links a:hover,
    ul#switch-year-links a:hover {
      text-decoration: none; }
    ul#switch-computer-links a li,
    ul#switch-year-links a li {
      padding: 8px;
      border-bottom: solid 1px #cccccc;
      width: 152px;
      height: 20px;
      display: block;
      cursor: pointer; }
    ul#switch-computer-links a:last-child li,
    ul#switch-year-links a:last-child li {
      border-bottom: none; }

#computer-edit-links {
  margin-bottom: -12px;
  border-top: solid 1px #cccccc;
  padding-top: 5px; }
  #computer-edit-links a {
    display: inline-block;
    height: 24px;
    width: 55px;
    border-right: solid 1px #cccccc;
    cursor: pointer;
    background-position: 15px 0px;
    background-repeat: no-repeat; }
    #computer-edit-links a:last-child {
      border-right: none; }
    #computer-edit-links a:hover {
      background-position: 15px -24px; }
    #computer-edit-links a.disabled {
      background-position: 15px -48px;
      cursor: default; }
    #computer-edit-links a#computer-add {
      background-image: url('../images/computer-add.png'); }
    #computer-edit-links a#computer-switch {
      background-image: url('../images/computer-switch.png'); }
    #computer-edit-links a#computer-settings {
      background-image: url('../images/computer-settings'); }

#switch-year-links {
  margin-top: 5px !important;
  border-top: solid 1px #cccccc; }

.sidebar #block-rbc-rbc-year-switcher .content {
  margin-top: 0px; }

#year-switch {
  display: block;
  height: 24px; }
  #year-switch a {
    display: block;
    float: right;
    border-left: solid 1px #cccccc;
    height: 24px;
    width: 55px;
    cursor: pointer;
    background-position: 15px 0px;
    background-repeat: no-repeat;
    background-image: url('../images/computer-switch.png'); }
    #year-switch a:hover {
      background-position: 15px -24px; }
    #year-switch a.disabled {
      background-position: 15px -48px;
      cursor: default; }

/*
 * Manage Parts Block
 */
ul#manage-parts,
ul#reserved-parts {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul#manage-parts li,
  ul#reserved-parts li {
    padding: 8px;
    border-bottom: solid 1px #cccccc;
    width: 152px;
    height: 20px;
    display: block;
    cursor: pointer; }
  ul#manage-parts a,
  ul#reserved-parts a {
    color: #3b3b3b;
    text-decoration: none; }
    ul#manage-parts a:hover,
    ul#reserved-parts a:hover {
      text-decoration: none; }
    ul#manage-parts a li,
    ul#reserved-parts a li {
      border-bottom-color: #cccccc; }
  ul#manage-parts .unreserve-x,
  ul#reserved-parts .unreserve-x {
    display: block;
    height: 20px;
    width: 20px;
    background: url('../images/x.png');
    float: right; }
    ul#manage-parts .unreserve-x:hover,
    ul#reserved-parts .unreserve-x:hover {
      background-position: bottom; }

/*
 * Computer Update Page
 */
div#update-path-settings,
div#update-year-settings {
  display: none; }

/*
 * Commit
 */
.commit-partbox {
  display: block;
  margin: 16px auto;
  padding: 10px;
  background: #f0f0f0;
  border: solid 2px #cccccc;
  height: 50px;
  line-height: 50px;
  width: 280px;
  text-align: center;
  font-size: 32px; }

/*
 * Logged Out
 */
  body.not-logged-in #main-menu {
    display: none; }

/*
 * Download Plugin
 */
#plugin-download-button {
  -moz-box-shadow: inset 0px 1px 2px 0px white;
  -webkit-box-shadow: inset 0px 1px 2px 0px white;
  box-shadow: inset 0px 1px 2px 0px white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color: #ededed;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  padding: 16px 50px; }
  #plugin-download-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color: #dfdfdf;
    text-decoration: none; }
  #plugin-download-button div {
    background: url('../images/plugin-logo.png') left center no-repeat;
    color: #181818;
    font-family: arial;
    font-size: 28px;
    font-weight: bold;
    padding-left: 92px;
    text-decoration: none;
    text-shadow: 1px 1px 3px white;
    line-height: 88px;
    height: 88px; }

    #setup-check #check-plugin #throbber {
      background: url('/misc/throbber.gif') no-repeat 0px 2px;
      display: inline-block;
      height: 15px;
      margin: 0px -7px -2px 7px;
      width: 15px; }
      #setup-check #check-plugin #throbber.active {
        background-position: 0px -18px; }

#setup-plugin {
  display: none; }

/*
 * This imageless css button was generated by CSSButtonGenerator.com
 */
.table-filters {
  display: block;
  width: 100%;
  height: 20px;
  font-size: 85%;
  text-align: right;
  float: left; }

.part_table_container {
  float: left;
  width: 100%; }
  .part_table_container .sticky-header {
    z-index: 10; }

#cat-tile-container {
  margin: 0 -5px 20px;
  display: block;
  width: 700px;
  float: left; }

.cat-tile-block {
  display: inline-block;
  position: relative;
  float: left;
  margin: 5px;
  width: 130px;
  height: 130px;
  background-color: #efefef;
  color: black;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .cat-tile-block .images {
    position: absolute;
    line-height: 0px;
    font-size: 0px; }
  .cat-tile-block .title {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 120px;
    padding: 0 5px;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    text-align: right;
    margin-top: 80px;
    background: rgba(255,255,255,0.60); }

.close-box {
  border: solid 1px #cccccc;
  display: block;
  float: left;
  width: 14px;
  height: 14px;
  line-height: 12px;
  text-align: center;
  color: #cccccc;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  cursor: pointer; }
  .close-box:hover {
    background: #555555; }

/*
 * ----------- BREAD CRUMB ---------------
 */
.breadcrumb {
  list-style: none;
  overflow: hidden; }
  .breadcrumb li {
    float: left; }
    .breadcrumb li a {
      color: white;
      text-decoration: none;
      padding: 5px 10px 5px 20px;
      background: #aaaaaa;
      position: relative;
      display: block;
      float: left; }
      .breadcrumb li a:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
                /*
         * Go big on the size, and let overflow hide
         */
        border-bottom: 15px solid transparent;
        border-left: 10px solid #aaaaaa;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        left: 100%;
        z-index: 2; }
      .breadcrumb li a:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
                /*
         * Go big on the size, and let overflow hide
         */
        border-bottom: 15px solid transparent;
        border-left: 10px solid white;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        margin-left: 1px;
        left: 100%;
        z-index: 1; }
    .breadcrumb li:first-child a {
      padding-left: 10px; }
    .breadcrumb li:nth-child(2) a {
      background: #b4b4b4; }
    .breadcrumb li:nth-child(2) a:after {
      border-left-color: #b4b4b4; }
    .breadcrumb li:nth-child(3) a {
      background: #bebebe; }
    .breadcrumb li:nth-child(3) a:after {
      border-left-color: #bebebe; }
    .breadcrumb li:nth-child(4) a {
      background: #c9c9c9; }
    .breadcrumb li:nth-child(4) a:after {
      border-left-color: #c9c9c9; }
    .breadcrumb li:nth-child(5) a {
      background: #d3d3d3; }
    .breadcrumb li:nth-child(5) a:after {
      border-left-color: #d3d3d3; }
    .breadcrumb li:last-child a {
      background: white !important;
      color: black;
      pointer-events: none;
      cursor: default; }
    .breadcrumb li:last-child a:after {
      border: 0; }
    .breadcrumb li a:hover {
      background: #969696; }
    .breadcrumb li a:hover:after {
      border-left-color: #969696 !important; }

/*
 * ----- Upload Block ------
 */
#manual-list {
  width: 218px;
  float: left; }
  #manual-list #throbber {
    background: url('/misc/throbber.gif') no-repeat 0px 2px;
    display: inline-block;
    height: 15px;
    margin: 0px -7px -2px 7px;
    width: 15px; }
    #manual-list #throbber.active {
      background-position: 0px -18px; }

#suggest-list {
  width: 466px;
  float: right; }

  #manual-list .uploadblock,
  #suggest-list .uploadblock {
    cursor: pointer; }
  #manual-list .uploadblock.disabled,
  #suggest-list .uploadblock.disabled {
    cursor: default; }

.add-list {
  min-height: 78px;
  margin-left: -8px;
  max-height: 330px;
  overflow: auto; }

#uploader-button {
  margin-left: 10px; }

.list-title {
  font-weight: bold;
  font-size: 110%;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  display: block; }

#commit-list {
  width: 684px;
  min-height: 160px;
  border: dashed 3px #cccccc;
  float: left;
  margin: 10px 0; }

#commit-message {
  float: left;
  width: 100%; }

.uploadblock {
  width: 208px;
  height: 60px;
  background: white;
  border: solid 1px #cccccc;
  position: relative;
  float: left;
  margin: 8px;
  overflow: hidden; }
  .uploadblock .info {
    float: left;
    line-height: 18px;
    width: 140px;
    overflow: hidden; }
  .uploadblock .close-box {
    position: absolute;
    top: -1px;
    right: -1px;
    display: none; }
  .uploadblock .state-wrapper {
    position: absolute;
    width: 100%;
    bottom: -1px;
    left: -1px; }
    .uploadblock .state-wrapper .state {
      position: relative;
      width: 100%;
      text-align: centre; }
      .uploadblock .state-wrapper .state .text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        color: #cccccc; }
      .uploadblock .state-wrapper .state .statebg {
        position: relative;
        border: 1px solid #cccccc;
        height: 8px;
        width: 100%;
        background: white; }
        .uploadblock .state-wrapper .state .statebg:after,
        .uploadblock .state-wrapper .state .statebg:before {
          bottom: 100%;
          border: solid transparent;
          content: "";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none; }
        .uploadblock .state-wrapper .state .statebg:after {
          border-color: transparent;
          border-bottom-color: white;
          border-width: 0 105px 14px 105px;
          left: 50%;
          margin-left: -105px; }
        .uploadblock .state-wrapper .state .statebg:before {
          border-color: transparent;
          border-bottom-color: #cccccc;
          border-width: 0 109px 15px 109px;
          left: 50%;
          margin-left: -109px; }
        .uploadblock .state-wrapper .state.uploading .text {
          color: white; }
        .uploadblock .state-wrapper .state.uploading .statebg {
          background: #4e96c3; }
          .uploadblock .state-wrapper .state.uploading .statebg:after {
            border-color: transparent;
            border-bottom-color: #4e96c3; }
        .uploadblock .state-wrapper .state.done .text {
          color: white; }
        .uploadblock .state-wrapper .state.done .statebg {
          background: #009900; }
          .uploadblock .state-wrapper .state.done .statebg:after {
            border-color: transparent;
            border-bottom-color: #009900; }
      .uploadblock .state-wrapper .state.error {
        background-image: none;
        cursor: pointer; }
        .uploadblock .state-wrapper .state.error .text {
          color: white; }
        .uploadblock .state-wrapper .state.error .statebg {
          background: red; }
          .uploadblock .state-wrapper .state.error .statebg:after {
            border-color: transparent;
            border-bottom-color: red; }

#commit-list .uploadblock .close-box {
  display: block; }

#commit-message input.form-submit {
  outline: none; }
  #commit-message input.form-submit.waiting,
  #commit-message input.form-submit.waiting:hover {
    background-position: 0 -40px; }

