/*
 * CSS Document
 */
/*
 * Status Colors
 */
#header {
  background: #060606;
  border-bottom: solid 3px red; }
  #header #site-name a {
    font-size: 1.6em;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif; }
    #header #site-name a:hover {
      text-decoration: none; }

.sidebar .block {
  background-color: #efefef;
  border-color: #e4e4e4; }

.form-button:hover {
  background: #dedede; }

hr {
  border: none;
  border-top: solid 1px #757575;
  border-top: solid 1px rgba(0,0,0,0.51); }

  #main-menu li a {
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 30px;
    line-height: 30px;
    background-color: #cccccc;
        /*
     * &.active {
     * border-top:solid 2px $redback_red;
     * margin-top:-1px;
     * height:29px;
     * line-height:28px;
     * 
     * border-bottom:solid 3px white;
     * margin-bottom:-3px;
     * }
     */ }

